:root {
    --bs-body-font-family: 'DM Sans', sans-serif;
}


/*-----------------------------------------------------------*/

/* 1- Style apporté au champs de Recherche */
.title-primary {
    color: #D04F4F;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: .2rem;
}

.input-group {
    height: 3.8rem;
}

.form-control::placeholder {
    opacity: .25;
}

.input-group>* {
    background-color: #E7E7E7;
}

/* 2- Style apporté au boutton de trie */
.allFilter {
    height: 100%;
}

.filter-btn {
    /* gap: 1.5rem; */
    gap: 1.5rem;
    position: relative;
}

.filter-btn div {
    position: relative;
}

.filter-btn input {
    width: 100%;
    /* margin-right: 1rem;
    padding-right: 1rem; */
}

.filter-btn input::placeholder {
    color: white;
}

/* .filter-ingredients {
    margin-right: 1rem;
    padding-right: 1rem;
    position: relative;
} */


.filter-btn button {
    display: flex;
    position: absolute;
    right: 1rem;
    /* padding: 0 5rem 0 0; */
    align-self: center;
}

.filter-btn i {
    width: .1rem;
    margin-right: 1rem;
    /* padding: 0 1rem; */
}

.filter-btn .list {
    margin: 0;
    padding: 0;

}

.filter-appareils,
.inputAppareils,
.btnAppareils {
    background-color: #68D9A4;
}

.filter-ustensiles,
.inputUstensiles,
.btnUstensiles {
    background-color: #ED6454;
}



/* .filter-ustensiles>* {
    background-color: #ED6454;
} */

.productItem {
    list-style-type: none;
}


/* 3- Style apporté aux cartes recettes */

.card {
    flex: 1 1 21rem;
    margin: 20px 20px;
    align-self: normal;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.card-body {
    height: 100%;

}

.card h4 {
    font-size: 1.1rem;

}

.recipeTime {
    align-items: baseline;
}


.recipe {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}


.ingreList {
    display: flex;
    flex-direction: row;
}

.product {
    font-weight: bold;
    margin-bottom: .5rem;
}

.recipeDes {
    width: 70%;
}

.recipeDes p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: .65rem;

}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}